
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*{
    font-family: Outfit;    
}

 .active {
    background-color: rgb(5 150 105 / var(--tw-bg-opacity, 1));
    border-color: rgb(104, 241, 104);
}

select, input, textarea{
    border: 1px solid #e7e0e0;
    outline-color: #c586a5;
    border-radius: 4px;
}
